.sidebar {
  margin: 10px;
  min-width: 250px;
  @media (max-width: 768px) {
    display: none;
  }
}

.sidebarOpen {
  padding: 10px;
  min-width: 250px;
  background-color: #eeeeee;
  @media (max-width: 768px) {
    display: block;
    position: absolute;
    height: 100%;
    left: 0;
    margin-top: -10px;
    border-top: solid;
    border-right: solid;
    border-color: #cccccc;
  }

}
